{% extends '@EasyAdmin/page/login_minimal.html.twig' %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </div>
{% endblock %}
