/**
Couleurs
**/
$primary: #6D9FF3;
$main_background_color: #E5EBED;

/**
FONT
 */
$main_font: "Corbel";
$titre_taille: 48px;
$sous_titre_taille: 36px;
$content_titre_size:57.6px;

/**
Marges
 */
$marge_header_content: 6em;
$marge_between_content: 10em;
