{% if field.value is not null and field.value.imageFile is not null %}
    {% set url = vich_uploader_asset(field.value, 'imageFile') %}

    {% set html_id = 'ea-lightbox-' ~ random() %}
    <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
        <img src="{{ url }}" class="img-fluid" alt="Image" style="max-width: 100%;height: auto">
    </a>

    <div id="{{ html_id }}" class="ea-lightbox">
        <img src="{{ url }}" alt="Image">
    </div>
{% endif %}